# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.so

# Environments
.env
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
media/
backups/
frontend/node_modules/
frontend/dist/
frontend/.env

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Keys
*.pem
